<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
  	<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp />
				<pattern>
					<pattern>
						{
						"service":"${consent-service}",
						"logger": "%logger",
						"level": "%level",
						"correlation-id": "%mdc{${correlation-id}}",
						"thread": "%thread",
						"message": "%m"
						}
					</pattern>
				</pattern>
			</providers>
		</encoder>
	</appender>
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>